@charset "UTF-8";

/*
제  목 : alla-class-post-fonts.css
작성일 : 2024.04.18
작성자 : 김현수
*/

/* Web Font Load */
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:800&subset=korean');
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

/* KoPub Font Load */
@font-face {
  font-family: 'KoPub_World_Dotum_Medium';
  src: url('https://tistory1.daumcdn.net/tistory/4700529/skin/images/KoPubWorld%20Dotum_Pro%20Medium.otf');
}

@font-face {
  font-family: 'KoPub_World_Batang_Light';
  src: url('https://tistory1.daumcdn.net/tistory/4700529/skin/images/KoPubWorld%20Batang_Pro%20Light.otf');
}

/* KaTex_Math Font Load */
@font-face {
  font-family: 'KaTex_Math_Italic';
  src: url('https://tistory4.daumcdn.net/tistory/4700529/skin/images/KaTeX_Math-Italic.ttf');
}
