@charset "UTF-8";

/*
제  목 : alla-class-post-common-6.0.1.css
작성일 : 2023.01.19
작성자 : 김현수
*/

/* 각 테이블 : 초기값 셋팅 */
.marginWAuto {
  margin: 0 auto;
}

.marginTop {
  margin-top: 160px;
}

div.alla6ThumbDiv,
div.alla6NoticeHeaderDiv,
div.alla6GuideDiv,
div.alla6NoticeFooterDiv {
  text-align: center;
  max-width: 740px;
  margin-bottom: 160px;
}

table.alla6BasicTbl {
  width: 100%;
  max-width: 740px;
  font-family: 'KoPub_World_Batang_Medium', 'Noto Sans KR', sans-serif;
  font-size: 1.4em;
  color: #333;
  line-height: 40px;
  text-align: left;
  margin-bottom: 160px;
}

table.alla6CheckTbl {
  width: 100%;
  max-width: 740px;
  font-family: 'KoPub_World_Batang_Medium', 'Noto Sans KR', sans-serif;
  font-size: 1.4em;
  color: #333;
  line-height: 40px;
  text-align: right;
  padding-right: 16px;
  margin-bottom: 160px;
}

table.alla6BasicTbl,
table.alla6BasicTbl tr,
table.alla6BasicTbl tr td,
table.alla6CheckTbl,
table.alla6CheckTbl tr,
table.alla6CheckTbl tr td {
  border-spacing: 0 0;
  /* TD 테스트용 가이드라인 */
  /* border-color: #333;
    border-style: solid;
    border-spacing: 2px; */
}

/* -------------------------------------------- */
/* 썸네일 영역 */
div.alla6ThumbDiv img {
  /* display: none; */
  /* width: 450px; */
}

/* -------------------------------------------- */

/* 가이드 영역 */
div.alla6GuideDiv img {
  width: 100%;
}

/* -------------------------------------------- */
/* 타이틀 영역 */
/* 타이틀 영역 - 테이블 */
table.alla6TitleTbl {
  width: 100%;
  max-width: 740px;
  font-family: 'KoPub_World_Batang_Medium', 'Noto Sans KR', sans-serif;
  font-size: 1em;
  color: #333;
  line-height: 40px;
  text-align: left;
  margin-bottom: 160px;
  border-collapse: collapse;
  border: 3px solid black;
}

table.alla6TitleTbl tr td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 8px 0;
  line-height: 1.6em;
}

/* 타이틀 영역 - 정렬 */
table.alla6TitleTbl tr:nth-of-type(1) td,
table.alla6TitleTbl tr:nth-of-type(2) td,
table.alla6TitleTbl tr:nth-of-type(3) td:nth-of-type(1),
table.alla6TitleTbl tr:nth-of-type(4) td:nth-of-type(1),
table.alla6TitleTbl tr:nth-of-type(5) td:nth-of-type(1),
table.alla6TitleTbl tr:nth-of-type(6) td:nth-of-type(1),
table.alla6TitleTbl tr:nth-of-type(7) td:nth-of-type(1),
table.alla6TitleTbl tr:nth-of-type(8) td:nth-of-type(1) {
  text-align: center;
}
table.alla6TitleTbl tr:nth-of-type(3) td:nth-of-type(1),
table.alla6TitleTbl tr:nth-of-type(4) td:nth-of-type(1),
table.alla6TitleTbl tr:nth-of-type(5) td:nth-of-type(1),
table.alla6TitleTbl tr:nth-of-type(6) td:nth-of-type(1),
table.alla6TitleTbl tr:nth-of-type(7) td:nth-of-type(1),
table.alla6TitleTbl tr:nth-of-type(8) td:nth-of-type(1) {
  vertical-align: top;
  border-right: 1px solid rgba(0, 0, 0, 0);
}
table.alla6TitleTbl tr td:nth-of-type(2) {
  text-align: left;
  border-right: 3px solid black;
}
/* 타이틀 영역 - 주제목 폰트크기 */
table.alla6TitleTbl tr:nth-of-type(2) td {
  font-size: 36px;
  font-weight: bold;
}
/* 웹앱제작 - 방송대 컴퓨터과학과 폰트크기 */
table.alla6TitleTbl tr:nth-of-type(7) td:nth-of-type(2) span {
  font-size: 12px;
  margin-left: 3px;
}

/* -------------------------------------------- */
/* 문제 영역 */
/* 그룹 문제 번호 */
table.alla6BasicTbl tr.alla6GroupQuestionTr span.alla6QuestionNo {
  font-size: 32px;
  font-weight: bold;
  margin-right: 10px;
  color: #0078d6;
}

/* 메인 문제 번호 */
table.alla6BasicTbl tr.alla6QuestionTr span.alla6QuestionNo {
  font-size: 32px;
  font-weight: bold;
  color: #0078d6;
  padding-right: 10px;
}

/* 메인 문제 내용 */
table.alla6BasicTbl tr.alla6QuestionTr td:last-of-type {
  padding-bottom: 10px;
}

/* 보기문 영역 */
/* 추가 빈 라인 */
table.alla6BasicTbl tr.alla6BlankTr {
  height: 10px;
  padding: 0px;
  line-height: 0px;
}
/* 보기문 라인 */
table.alla6BasicTbl tr.alla6ExampleTr_Txt td {
  padding: 15px 15px 15px 20px;
  border-radius: 15px;
  background-color: rgba(220, 220, 220, 0.7);
}
/* 보기문 기교 [명령어: /단락~/.단락] [p: 단락] */
table.alla6BasicTbl tr.alla6ExampleTr_Txt td div.allaExampleList_p {
  text-indent: 21px;
}
/* 보기문 기교 [명령어: /좌들~/.좌들] [p: 좌들] */
table.alla6BasicTbl tr.alla6ExampleTr_Txt td div.allaExampleList_pleft {
  padding-left: 20px;
  text-indent: -20px;
}
/* 보기문 기교 [명령어: /바~/.바] [bar: -] */
table.alla6BasicTbl tr.alla6ExampleTr_Txt td div.allaExampleList_bar {
  padding-left: 15px;
  text-indent: -18px;
}
/* 보기문 기교 [명령어: /한글~/.한글] [kor: 가, 나, 다, 라] */
table.alla6BasicTbl tr.alla6ExampleTr_Txt td div.allaExampleList_kor {
  padding-left: 33px;
  text-indent: -35px;
}
/* 보기문 기교 [명령어: /한글괄호~/.한글괄호] [kor_bra: (가),(나),(다),(라)] */
table.alla6BasicTbl tr.alla6ExampleTr_Txt td div.allaExampleList_kor_bra {
  padding-left: 42px;
  text-indent: -42px;
}
/* 보기문 기교 [명령어: /자음괄호~/.자음괄호] [kor_con_bra: (ㄱ), (ㄴ), (ㄷ), (ㄹ)] */
table.alla6BasicTbl tr.alla6ExampleTr_Txt td div.allaExampleList_kor_con_bra {
  padding-left: 35px;
  text-indent: -35px;
}
/* 보기문 기교 [명령어: /영소~/.영소] [eng: a, b, c, d] */
table.alla6BasicTbl tr.alla6ExampleTr_Txt td div.allaExampleList_eng {
  padding-left: 28px;
  text-indent: -28px;
}
/* 보기문 기교 [명령어: /영대괄호~/.영대괄호] [eng_big_bra: (A), (B), (C), (D)] */
table.alla6BasicTbl tr.alla6ExampleTr_Txt td div.allaExampleList_eng_big_bra {
  padding-left: 36px;
  text-indent: -36px;
}
/* 보기문 기교 [명령어: /영소괄호~/.영소괄호] [eng_small_bra: (a),(b),(c),(d)] */
table.alla6BasicTbl tr.alla6ExampleTr_Txt td div.allaExampleList_eng_small_bra {
  padding-left: 34px;
  text-indent: -34px;
}
/* 보기문 기교 [명령어: /서클~/.서클] [circle: ⓐ, ⓑ, ⓒ] */
table.alla6BasicTbl tr.alla6ExampleTr_Txt td div.allaExampleList_circle {
  padding-left: 28px;
  text-indent: -28px;
}
/* 보기문 기교 [명령어: /우측~/.우측] [정렬: 우측 */
table.alla6BasicTbl tr.alla6ExampleTr_Txt td div.allaExampleAlign_right {
  text-align: right;
}
/* 보기문 기교 [명령어: /중앙~/.중앙] [정렬: 중앙] */
table.alla6BasicTbl tr.alla6ExampleTr_Txt td div.allaExampleAlign_center {
  text-align: center;
}
/* 보기그림 라인 */
table.alla6BasicTbl tr.alla6ExampleTr_Img td:last-of-type {
  padding: 0px 16px;
  border-radius: 15px;
  background-color: rgba(220, 220, 220, 0);
  text-align: center;
  line-height: 0px;
}
/* 보기그림 내 그림 */
table.alla6BasicTbl tr.alla6ExampleTr_Img td:last-of-type img {
  width: 100%;
}

/* 객관식 영역 */
/* 라디오 */
.alla6AnswerRadio {
  margin-top: -5px;
  margin-right: 6px;
  margin-left: 9px;
  width: 18px;
  height: 18px;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 2px solid #0078d6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}
.alla6AnswerRadio[type='radio'] {
  border-radius: 50%;
}
.alla6AnswerRadio:active {
  filter: brightness(90%);
}
.alla6AnswerRadio:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.alla6AnswerRadio:checked {
  background-color: #0078d6;
  border-color: #0078d6;
}
.alla6AnswerRadio:checked[type='radio'] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

/* 선택된 상태에서의 스타일링 */
.alla6AnswerRadio:checked[type='radio']:after {
  /* content: "";
    display: block;
    width: 8.5px;
    height: 8.5px;
    border-radius: 50%;
    background-color: #fff;
    margin: 25%; */
}

.alla6AnswerRadio:disabled {
  pointer-events: none;
  filter: none;
  opacity: 0.5;
}
/* 객관식 내용 */
tr.alla6AnswerTr td.alla6AnswerTd {
  padding: 0 10px 0 48px;
  text-indent: -40px;
  border-radius: 15px;
}
/* 객관식 내용 (글자) */
tr.alla6AnswerTr td.alla6AnswerTd label {
  cursor: pointer;
}
/* 객관식 내용 (그림) */
tr.alla6AnswerTr td.alla6AnswerTd label img {
  cursor: pointer;
  margin: 10px auto;
}
/* 객관식 내용 (그림) 클릭이벤트 제거 */
tr.alla6AnswerTr td.alla6AnswerTd label figure {
  pointer-events: none;
}
/* 객관식 내용 (그림) 클릭이벤트 제거 - 이미지 삽입 후 기본치환자에서 뒷쪽치환자 날린 것 */
tr.alla6AnswerTr td.alla6AnswerTd label span {
  pointer-events: none;
}
/* 객관식 내용 : 모름 */
tr.alla6AnswerTr:nth-last-of-type(2) td.alla6AnswerTd {
  color: rgba(0, 0, 0, 0.3);
}
/* 개별 문제 체점 버튼 라인 */
tr.alla6CheckTr td {
  text-align: right;
  padding-top: 10px;
  padding-right: 16px;
}
/* 개별 문제 채점 버튼 */
tr.alla6CheckTr td button {
  font-size: 16px;
  color: #fff;
  border: none;
  background-color: #0078d6;
  width: 110px;
  height: 40px;
  cursor: pointer;
  margin-bottom: 10px;
  display: none;
  border-radius: 15px;
}

/* 개별 문제 해설 영역 */
tr.alla6SolveTr td {
  font-size: 0.9em;
  line-height: 1.5em;
  padding: 15px 15px 15px 20px;
  border-radius: 15px;
  background-color: rgba(220, 220, 220, 0.7);
  display: none;
}

/* 채점 버튼 영역 */
/* 채점 버튼 타이틀 */
.alla6CheckTbl label {
  font-size: 14px;
  margin-right: 10px;
}
/* 채점 버튼 : 모두 */
.alla6CheckTbl button {
  font-size: 16px;
  width: 110px;
  height: 40px;
  cursor: pointer;
  border-radius: 15px;
}
/* 채점 버튼 : 채점하기 */
.alla6CheckTbl button:first-of-type {
  color: #fff;
  border: none;
  background-color: #0078d6;
  margin-bottom: 10px;
}
/* 채점 버튼 : 다시풀기 */
.alla6CheckTbl button:last-of-type {
  color: #555;
  border: 2px solid #ddd;
  background-color: #fff;
}

/* 정답가이드,  정답테이블 영역 */
/* 정답 공통 전체 */
div.alla6AnswerTableDiv {
  margin-bottom: 160px;
}

div.allaAnswerGuideDiv table,
div.alla6AnswerTableDiv table {
  width: 100%;
  max-width: 740px;
  font-family: 'KoPub_World_Batang_Medium', 'Noto Sans KR', sans-serif;
  font-size: 1em;
  line-height: 26px;
  border-collapse: collapse;
  border: 1px solid #bbbbbb;
}
/* 정답 공통 <th> 첫째줄 */
div.allaAnswerGuideDiv table tr:first-child th,
div.alla6AnswerTableDiv table tr:first-child th {
  font-weight: bold;
  border: 1px solid #cccccc;
  border-bottom: 3px solid #cccccc;
  background-color: #ffffff;
  padding: 5px 0;
}
/* 정답 공통 <th> */
div.allaAnswerGuideDiv table tr th,
div.allaAnswerGuideDiv table tr td,
div.alla6AnswerTableDiv table tr th,
div.alla6AnswerTableDiv table tr td {
  border: 1px solid #cccccc;
  padding: 10px 0;
}
/* 정답 공통 <td> */
div.allaAnswerGuideDiv table tr td,
div.alla6AnswerTableDiv table tr td {
  text-align: center;
  border: 1px solid #cccccc;
}
/* 정답가이드 <td> 답안유형 */
/* 정답테이블 <td> 문제번호 */
div.allaAnswerGuideDiv table tr td:nth-of-type(1),
div.allaAnswerGuideDiv table tr td:nth-of-type(3),
div.allaAnswerGuideDiv table tr td:nth-of-type(5),
div.alla6AnswerTableDiv table tr td:first-of-type {
  color: #0078d6;
  font-weight: bold;
}
/* 정답 공통 <td> 홀수 */
div.allaAnswerGuideDiv table tr:nth-child(even) td,
div.alla6AnswerTableDiv table tr:nth-child(even) td {
  background-color: #eeeeee;
}
/* 정답 공통 <td> 짝수 */
div.allaAnswerGuideDiv table tr:nth-child(odd) td,
div.alla6AnswerTableDiv table tr:nth-child(odd) td {
  background-color: #ffffff;
}

/* 타년도 기출문제 바로가기 */
/* 다운로드 문제 바로가기 */
div.alla6OtherExamDiv,
div.alla6DownloadExamDiv {
  width: 100%;
  max-width: 740px;
  padding: 16px;
  border: 1px solid #ccc;
  text-align: left;
  margin-bottom: 160px;
  color: #343a40;
  box-sizing: border-box;
}

div.alla6OtherExamDiv a {
  text-decoration: none;
}

div.alla6OtherExamDiv div:first-of-type {
  font-size: 18px;
  font-weight: 600;
  padding: 0 0 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.alla6OtherExamDiv div:first-of-type span.allaOtherTitle {
  font-size: 20px;
  font-weight: border;
}

div.alla6OtherExamDiv div:last-of-type {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #9092a2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 기타 */
/* 폰트 밑줄 */
span.iunder {
  text-decoration: underline;
}

/* 폰트 윗줄 */
span.iover {
  text-decoration: overline;
}

/* 폰트 굵게 */
span.ibold {
  font-weight: bold;
}

/* 폰트 밑줄+굵게 */
span.iub {
  text-decoration: underline;
  font-weight: bold;
}

/* 폰트 미지수 */
span.imath {
  font-family: 'KaTex_Math_Italic';
}

/* 
--------------------------------------------
종  료 : alla-class-post-common-6.0.1.css   
--------------------------------------------
*/

/* Web Font Load */
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:800&subset=korean');
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

/* KoPub Font Load */
@font-face {
  font-family: 'KoPub_Batang_Medium';
  src: url('https://tistory1.daumcdn.net/tistory/4700529/skin/images/KoPub%20Batang%20Medium.ttf');
}

/* KaTex_Math Font Load */
@font-face {
  font-family: 'KaTex_Math_Italic';
  src: url('https://tistory4.daumcdn.net/tistory/4700529/skin/images/KaTeX_Math-Italic.ttf');
}

body {
  font-weight: 400;
  font-family: 'KoPub_World_Batang_Medium', 'Noto Sans KR', sans-serif;
  font-size: 1em;
  line-height: 1.25;
  color: #555;
}
